@using Entity
@model General 
<!-- HEADER ############################################### -->
<section id="header">
    <div class="row">

        <div class="twelve columns centered">

            <h2 class="fade-it2">@Model.HeaderTitle</h2>

            <p class="lead fade-it2">@Model.HeaderDescription</p>

        </div>

    </div>
</section>
<!-- END HEADER ############################################### -->
