@{ 
    Layout = null;

}

<form method="post">
    <input name="username" placeholder="Kullanıcı Adı"/>
    <input name="pass" placeholder="Şifre" type="password"/>
    <button>GİRİŞ</button>
</form>
